// Here you can add other styles
.box-shadow-card {
  box-shadow: 0px 0px 50px -15px rgb(0 0 0 / 33%);
}

.col-title {
  font-weight: 300;
}

.gray-1 {
  color: #A4A6AE;
}

.col-border-right {
  border-right: 1px solid #F3F3F3;
}

.custom-nav-item {
  cursor: pointer;
}

.icon-plus {
  color: #2eb85c;
  cursor: pointer;
}

.icon-delete {
  color: #e55353;
  cursor: pointer;
}

.custom-main-container {
  margin: 1.5rem;
  background-color: white;
  border-radius: 4px;

  .avatar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .avatar-circle-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 125px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid #F6F5F7;

      .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      }

      img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-center-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.custom-input-box {
  width: 80%;
}

.qr-container {
  .qr-content {
    width: 200px;
    height: 250px;
    background-color: black;
    padding: 8px;
    border-radius: 8px;

    .qr-text {
      color: white;
    }
  }
}

.custom-drop-date-label {
  margin-right: 24px;
}

.custom-drop-date {
  height: 33px;
  width: 100px;
}

.clr-select-wrapper select option {
  color: #000
}

.clr-select-wrapper select:focus {
  outline: 0
}

.clr-select-wrapper select.clr-focus,
.clr-select-wrapper select:focus {
  border-bottom: 1px solid #0094d2;
  background-size: 100% 100%
}

.clr-select-wrapper {
  position: relative;
  white-space: nowrap
}

.clr-select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  margin: 0 24px 0 0;
  padding: 0 .916667rem 0 .25rem;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  color: #000;
  display: inline-block;
  border-bottom: 1px solid #9a9a9a;
  background: linear-gradient(to bottom, transparent 95%, #0094d2 95%) no-repeat;
  background-size: 0 100%;
  transition: background-size .2s ease;
  position: relative;
  cursor: pointer;
  z-index: 2
}

.clr-select-wrapper select:active,
.clr-select-wrapper select:hover {
  border-color: rgba(221, 221, 221, .5);
  background: rgba(221, 221, 221, .5)
}
.clr-select-wrapper select:disabled {
  opacity: .5;
  cursor: not-allowed
}

.clr-select-wrapper select::-ms-expand {
  display: none
}

.clr-select-wrapper {
  max-height: 1rem;
  display: inline-block
}

.clr-select-wrapper::after,
.custom-drop-date::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 16px;
  top: .291666rem;
  right: .25rem;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%3E.cls-1%7Bfill%3A%239a9a9a%3B%7D%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Ctitle%3ECaret%3C%2Ftitle%3E%0A%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M6%2C9L1.2%2C4.2a0.68%2C0.68%2C0%2C0%2C1%2C1-1L6%2C7.08%2C9.84%2C3.24a0.68%2C0.68%2C0%2C1%2C1%2C1%2C1Z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 0 24px 0 0;
}

.clr-select-wrapper:hover::after {
  color: #737373
}

.nav-search-item-container {
  position: relative;
  .nav-search-item-box {
    position: absolute;
    background: white;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    padding: 6px 16px 4px;
    animation:fadein .5s;

    input {
      border: none;
      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.address-item-wraper {
  .address-item {
    display: flex;
    justify-content: space-between;
  }
}

.address-plus-item {
  color: rgb(0, 127, 240);
  cursor: pointer;
  margin-bottom: 0.5rem;
}
